<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Home</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="static/Component/login.js"></script>
    <script>
        (() => {
            var socket = io();
            socket.emit('chat message', "Hello World!");

            socket.on('chat message', function(msg){

            });
        })();
    </script>
</head>
<body>
    <h1>Chat Home</h1>
</body>
<script>
    console.log(sessionStorage.getItem("username"));
</script>
</html>